@media screen{
h1{
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 65px;
    color: #1c0f13
}

h2{
    font-family:  "Work Sans", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: #1c0f13;
    }

    body {
        background-color: #b7cece
    }
    
img{
    width: 100%;
 
}

    #topper {
        background-color: #b7cece;
    }
    
    #navigation {
        background-color: #6e7e85
    }
    
    .navitem {
        font-size: 30px
    }
    
    #footer{
        background-color: #bbbac6
    }
    
button {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 5px 12px 5px 12px;
    border-radius: 4px;
    background-color: #bbbac6
    }

}

@media (min-width:576px){
    h1{
        font-size: 50px
    }
    
    img{
        width: 400px
    }
}